:root {
  --transition-speed: 0.3s;
}

[data-theme="light"] {
  --bg-color: #f9f9f9;
  --text-color: #222;
  --card-bg: rgba(18, 65, 112, 0.75);
  --primary-color: #26667F;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --card-bg: rgba(103, 192, 144, 0.75);
  --primary-color: #0D1164;

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

button:hover {
  opacity: 0.9;
}

.weather-card {
  background-color: var(--card-bg);
  padding: 16px;
  border-radius: 12px;
  transition: background-color var(--transition-speed);
}
